[Desktop Entry]
Name=GitNortek
Comment=Graphical Git client for Windows, Linux and macOS
Exec=gitnortek
StartupWMClass=com.nortekmed.GitNortek
Icon=gitnortek
Terminal=false
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.1
